<div class="container-big-card">
  <div class="big-card-photo">
    <img src="https://www.morecap.com.br/assets/images/SM-placeholder.png"
     alt=""
     height="200px"
     weight="">
  </div>
  <div class="big-card-title">
    <a href="#"><h1>Lorem ipsum dolor sit amet</h1></a>
  </div>
  <div class="big-card-description">
    <p>
      <a href="">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa explicabo aut dignissimos eligendi expedita ullam fugiat sunt, quas eos reiciendis laborum, ab saepe atque cupiditate dolorem doloremque harum in officiis?.
      </a>
    </p>
  </div>
</div>
