.container-small-card{
  margin-bottom: 15px;
  @media(min-width: 1000px) {
    width: 700px;
  }
}

.container-small-card-content{
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

.small-card-photo > img {
  width: 200px;
  min-width: 200px;
}

.small-card-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.small-card-title a h1 {
  font-size: 1rem;
  margin-left: 15px;
}

.small-card-title a {
  text-decoration: none;
}

.container-small-card-separator{
  margin-top: 10px;
}

.container-small-card-separator hr{
  border-color: black;
}
