<header>
  <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>

<div class="container-articles">
  <div class="article-main">
    <app-big-card
     photoCover="https://www.morecap.com.br/assets/images/SM-placeholder.png"
     cardTitle="Lorem Ipsen"
     cardDescription="Lorem">
    </app-big-card>
  </div>
  <div class="articles-others">
    <app-small-card
    photoCover="https://www.morecap.com.br/assets/images/SM-placeholder.png"
    cardTitle="Exemplo Exemplar">
  </app-small-card>
    <app-small-card photoCover="https://www.morecap.com.br/assets/images/SM-placeholder.png"
    cardTitle="Exemplo Exemplar 2 ">
  </app-small-card>
    <app-small-card photoCover="https://www.morecap.com.br/assets/images/SM-placeholder.png"
    cardTitle="Exemplo Exemplar 3">
  </app-small-card>
  </div>
</div>
