<app-menu-title></app-menu-title>

<div class="container-articles">
  <div class="article-main">
    <app-big-card
    Id="1"
     photoCover="https://img.freepik.com/fotos-gratis/homem-tiro-medio-usando-oculos-vr_23-2149126949.jpg?t=st=1708651346~exp=1708654946~hmac=acebce31b9d1e6f4b366059d3e685e9062aac92f01dd1c7e16359affec4ac8b0&w=826"
     cardTitle="Lorem Ipsen"
     cardDescription="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.">
    </app-big-card>
  </div>
  <div class="articles-others">
    <app-small-card
    Id="2"
    photoCover="https://img.freepik.com/fotos-gratis/conceito-de-rpa-com-tela-de-toque-de-mao-embacada_23-2149311914.jpg?t=st=1708651223~exp=1708654823~hmac=1c402782c458e052200cb6e6a5df60e988c61a52178159605d7ddb9ff7c0eaf0&w=740"
    cardTitle="Lorem ipsum dolor sit amet, consectetur adipiscing elit">
  </app-small-card>
    <app-small-card
    Id="3"
    photoCover="https://img.freepik.com/vetores-premium/conceito-moderno-de-tecnologia-tecnologia-geometrica-fundo-abstrato-textura_29865-1510.jpg"
    cardTitle="Lorem labore et dolore magna aliqua. Ut enim ad mini">
  </app-small-card>
    <app-small-card
    Id="4"
    photoCover="https://img.freepik.com/fotos-gratis/pessoas-negocio-apertar-mao-junto_53876-13391.jpg?t=st=1708651287~exp=1708654887~hmac=f8a6eb80562df42588c710927e843708515857e17136dd3c000c5a51471bff28&w=740"
    cardTitle="Lorem sunt in culpa qui officia deserunt mollit anim">
  </app-small-card>
  </div>
</div>
