.container-menu-bar ul{
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin-top: 10px;
}

.container-menu-bar ul li{
  font-size: 15px;
  list-style: none;
  cursor: pointer;
}

.container-menu-bar ul li:hover{
  transform: scale(1.1);
  transition: .3s;
  border-bottom: solid 1px white;
}

